<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="suite" parallel="classes" thread-count="2" verbose="5">
  <test name="Test">
    <classes>
      <class name="testcases.CreateLead1"/>
      <class name="testcases.DuplicateTestLeadSe"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
